version: "3"
services:
  bot-service:
    container_name: bot
    build:
      context: ./bot-service
      dockerfile: Dockerfile
    ports:
      - "3100:3000"
    command: npm run start
    depends_on:
      - postgres
    volumes:
      - /home/.env:/partnadem/src/bot/.env
    networks:
      - server-net

  loki:
    image: grafana/loki:2.4.0
    container_name: loki
    ports:
      - "5100:5100"
    command:
      - --config.file=/home/loki/config.yaml
    volumes:
      - ./loki/config.yml:/home/loki/config.yaml
      - /home/loki/:/tmp/loki
    networks:
      - server-net
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=mynewpassword
      - GF_SECURITY_ADMIN_USER=partnadem
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana.ini:/etc/grafana/grafana.ini
    networks:
      - server-net

  postgres:
    container_name: postgres
    image: postgres:10.4-alpine
    ports:
      - 5433:5432
    volumes:
      - /home/data_store/postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: partnadem
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: db
    restart: always
    networks:
      - server-net

  pg_admin:
    container_name: pgadmin
    image: dpage/pgadmin4:4.28
    depends_on:
      - postgres
    ports:
      - 5440:80
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: core2pixel@gmail.com
      PGADMIN_DEFAULT_PASSWORD: password
    user: root
    volumes:
      - /home/data_store/pgadmin-data:/var/lib/pgadmin
    networks:
      - server-net

networks:
  server-net:
    driver: bridge

volumes:
  grafana-storage:
    external: true
